*{
    font-family: 'Oswald', sans-serif;
    font-size: 20;
    line-height: 1.8;
    color: #000000;
}

body {
    background-image: url("/images/CALSTATELAGE.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.class {
    padding: 50px;
}

#form1 {
    width: 340px;
    height: 300px;
    background: rgba(255, 254, 254, 0.80);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

a {
    color: black;
    font-size: 20px;
}

#pic1 {
    height: 100px;
    width: 300px;
}

#title {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: -10px;
    text-align: center;
}

#submit {
    background-color: #4A4F55;
    border: #4A4F55;
    border-radius: 5px;
    color: white;
    height: 30px;
    margin-top: 15px;
    width: 100px;
}

#text2 {
    margin-left: 0.5px;
}
